
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-brand {
    height: 70px;
    padding: 0 15px;
}

.logo {
    height: 65px;
    width: 264px;
}

.btn-xlarge {
    padding: 16px 26px;
    font-size: 21px;
    line-height: normal;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.navbar {
    padding: 20px 0 20px 0;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    font-size: 16px;
}

.btn-primary {
    color: #fff;
    background-color: rgba(62,103,143,1);
    border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: rgba(62,103,143,1);
    border-color: #2e6da4;
}
.btn-primary:hover {
    color: #fff;
    background-color: rgba(72,113,153,1);
    border-color: #2e6da4;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}

.main-center {
    min-height: 30%;
    min-height: 30vh;
    display: flex;
    align-items: center;
}

.services-center {
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.about-center {
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.contact-center {
    min-height: 60%;
    min-height: 60vh;
    display: flex;
    align-items: center;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background: url(../images/startup-success.jpg);
    background-size: cover;
}

.about-section {
    height: calc(100% - 90px);
    padding-top: 30px;
    text-align: center;
    background: #fff;
}

.services-section {
    height: calc(100% - 90px);
    padding-top: 50px;
    text-align: center;
    background: url(../images/back-code.jpg) no-repeat;
    background-size: cover;
}


.services-section h2, .services-section h4 {
    color: #fff;
}

.contact-section {
    height: calc(100% - 90px);
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.intro-section a {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 60px;
    font-size: 30px;
    color: #204d74;
}

.intro-section h1 {
    color: #fff;
}

.twitter-row {
    margin-top: 40px;
}

.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 34px;
}

.profile-header-img img.img-circle {
    width: 180px;
    height: 180px;
    border: 2px solid #204d74;
}

.profile-header {
    margin-top: 43px;
}

.rank-label-container {
    margin-top: -19px;
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #204d74;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.btn-social {
    font-size: 3rem;
    line-height: 2rem;
}

