
@import url('./HelveticaNeueLTStd-BdCn/stylesheet.css');

$nav-color-unselected: #ccc;
$connect-color: #777;
$main-text-color: #333;
$heading-color: #666;
$input-border-color: #bbb;
$header-title-color: #a98462;
$link-color: #567b9d;
$link-hover-color: #77aad9;

* {
margin: 0;
padding: 0;
}

body {
color: $main-text-color;
font: 16px Helvetica, Arial, Sans-Serif;
line-height: 24px;
margin: 0;
}

#header-wrap {
background: url(images/back-dark.png) repeat-x;
padding: 20px 0 0 0;
height:190px;
}

#header {
margin: 0px auto 0px;
width: 950px;
}

#main-wrap {
min-height:340px;
background: url(images/white-gradient.png) repeat-x;
overflow:hidden;
}

#main {
margin: 0px auto auto;
width: 950px;
}

#footer-wrap {
min-height:150px;
background: url(images/back-dark.png) repeat;
}

#footer {
margin: 0px auto auto;
width: 950px;
}

#footer-border {
background: url(images/blue-border.png) repeat-x;
height: 16px;
}

.logo {
float: left;
}

.title {
float: left;
margin-left: 70px;
margin-top: 6px;
width: 500px;
	h1 {
	clear: both;
	color: #ccc;
	font-family: Tinos, serif;
	font-size: 17px;
	font-style: italic;
	font-weight: 400;
	padding-top: 14px;
	}
}

#contact-info {
background-image: url(images/contact-box.png);
float: right;
font-weight:bold;
font-family: 'HelveticaNeueLTStdCnBold', sans-serif;
letter-spacing: 0px;
font-size: 14px;
height: 64px;
margin-right: 80px;
margin-top: 44px;
width: 233px;
	p {
	color: $header-title-color;
	font-weight: 400;
	line-height: 12px;
	margin-bottom: 5px;
	margin-left: 20px;
	margin-top: 14px; }
	a {
	color: $nav-color-unselected;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 12px;
	font-size: 14px;
	margin-left: 5px;
	text-decoration: none; }
	a:hover {
	color: #ffffff; }
}

.email-icon {
display: block;
float: left;
height: 9px;
margin-left: 20px;
margin-top: 8px;
width: 12px;
}

#nav-bar {
clear: both;
float: left;
font-family: 'HelveticaNeueLTStdCnBold', sans-serif;
font-size:16px;
letter-spacing: 0px;
height: 58px;
margin-left: 20px;
margin-top: 20px;
width: 910px;
	a {
	background-image: url(images/nav-bar-button.png);
	color: $nav-color-unselected;
	display: block;
	float: left;
	height: 34px;
	padding-top: 5px;
	text-align: center;
	text-decoration: none;
	width: 130px; }
	a:hover {
	color: #fff; }
	.selected {
	color: #fff;
	}
}

.nav-bar-left {
display: block;
float: left;
height: 39px;
width: 9px;
}

.nav-bar-right {
display: block;
float: left;
height: 39px;
width: 482px;
}

.page-indicator {
display: block;
float: left;
height: 24px;
margin-left: 50px;
margin-top: 0px;
width: 50px;
}

.page-indicator-2 {
display: block;
float: left;
height: 24px;
margin-left: 180px;
margin-top: 0px;
width: 50px;
}

.page-indicator-3 {
display: block;
float: left;
height: 24px;
margin-left: 310px;
margin-top: 0px;
width: 50px;
}

.page-indicator-blank {
display: block;
float: left;
height: 24px;
margin-left: 330px;
margin-top: 5px;
width: 50px;
}

.clear {
clear: both;
}

.right {
float: right;
width: 528px;
margin: 0 0 15px 20px;
}

.content {
clear: both;
float: left;
min-height: 400px;
margin-left: 30px;
margin-top: 20px;
margin-bottom:20px;
width: 870px;
	p {
	margin-bottom: 15px;
	}
	h2 {
	margin: 20px 0 15px;
	}
	a {
	color: $link-color;
	font-style: italic;
	text-decoration: none;
	}
	a:hover {
	  color: $link-hover-color;
	}
}

.content-spaced p {
margin-bottom: 30px;
}

.content-spaced h2 {
margin: 15px 0 30px;
}

.content-small {
font-size: 13px;
	p {
	margin-bottom: 5px;
	}
	h2 {
	margin: 10px 0 15px;
	}
}

h3 {
color: #fff;
font-size: 18px;
font-weight: 400;
padding: 8px 0 0 20px;
}

h2 {
color: $heading-color;
font-size: 22px;
font-weight: 400;
margin: 10px 0;
}

.feature-header {
background-color: $header-title-color;
color: #fff;
height: 40px;
margin-bottom: 15px;
width: 528px;
}

.feature-box {
background-color: #e7e7e7;
float: right;
font-size: 14px;
margin: 10px 0 10px 20px;
width: 528px;
	p {
	margin-bottom: 15px;
	padding: 0 20px;
	}
	h5 {
	color: $link-color;
	padding: 0 20px;
	}
	a {
	color: $link-color;
	font-style: italic;
	text-decoration: none;
	}
}

.feature-text {
background-color: #e7e7e7;
float: left;
padding: 0 20px;
width: 240px;
	h4 {
	padding: 0 0 10px;
	}
}

.feature-image {
background-color: #e7e7e7;
float: left;
left: 10px;
width: 240px;
}

.footer-text{
color: $nav-color-unselected;
float: left;
font-size: 12px;
height: 50px;
margin-top: 0px;
width: 425px;
	a {
	color: $header-title-color;
	font-style: italic;
	margin-left: 10px;
	text-decoration: none; }
	a:hover {
  color: #d9aa7e; }
}

.footer-divet {
float: left;
height: 29px;
margin-left: 725px;
margin-top: -7px;
width: 54px;
}

.connect {
color: $connect-color;
float: right;
font-family: 'HelveticaNeueLTStdCnBold', sans-serif;
letter-spacing: 1px;
font-size: 17px;
height: 50px;
margin-top: 0px;
width: 425px;
	img {
	margin-left: 3px;
	}
}

.connect-text {
display: block;
float: left;
margin-left: 195px;
padding-right: 10px;
padding-top: 2px;
}

.connect-icons {
display: block;
float: left;
padding-bottom: 5px;
padding-right: 15px;
}

a img {
border: none;
}

ul {
margin: 0 0 0 17px;
}

li {
line-height: 18px;
margin: 0 0 10px;
}

.hide {
display: none;
}

a.action-button, input[type=submit].action-button {
font-family: 'HelveticaNeueLTStdCnBold', sans-serif;
font-size: 12px;
color: $nav-color-unselected;
font-style: normal;
float: left;
width: 127px;
height: 31px;
text-align: center;
background-image: url(images/action-button.png);
}

a,action-button {
padding-top: 3px;
}

a.action-button:hover, input[type=submit].action-button:hover {
color: #fff;
}

input[type=submit] {
background-color: #fff;
border: 0px;
padding-top: 0px;
padding-bottom: 2px;
cursor: pointer;
}

textarea {
width: 350px;
height: 150px;
padding: 5px;
}

input.text, input.title {
width: 350px;
padding: 5px;
}

fieldset {
padding: 1em 1.4em 1.4em 1.4em;
margin: 0 0 1.5em 0;
border: 0px
}

input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {
margin: 0.5em 0;
}

input[type=text], input[type=password], input[type=url], input[type=email],  input.text, input.title, textarea {
background-color: #fff;
border: 1px solid $input-border-color;
color: #000;
}

input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {
border-color: $heading-color;
}

select {
background-color: #fff;
border-width: 1px;
border-style: solid;
}
