
@font-face {
    font-family: 'HelveticaNeueLTStdCnBold';
    src: url('helveticaneueltstd-bdcn-webfont.eot');
    src: url('helveticaneueltstd-bdcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('helveticaneueltstd-bdcn-webfont.ttf') format('truetype'),
         url('helveticaneueltstd-bdcn-webfont.svg#HelveticaNeueLTStdCnBold') format('svg');
    font-weight: normal;
    font-style: normal;

}